{% extends "layout.html" %}
{% block title %}About{% endblock %}
{% block content %}
    <div class="mui-panel">
        <div class="mui--text-headline">Abstract</div>
        <div class="mui--text-body1">
            Characterizing genetic interactions is crucial to understanding cellular and organismal response to gene-level perturbations. Such knowledge can inform the selection of candidate disease therapy targets. Yet experimentally determining whether genes interact is technically non-trivial and time-consuming. High-fidelity prediction of different classes of genetic interactions in multiple organisms would substantially alleviate this experimental burden. Under the hypothesis that functionally-related genes tend to share common genetic interaction partners, we present a computational approach to predict genetic interactions in <i>Homo sapiens</i>, <i>Drosophila melanogaster</i>, and <i>Saccharomyces cerevisiae</i>. By leveraging knowledge of functional relationships between genes, we cross-validate predictions on known genetic interactions and observe high-predictive power of multiple classes of genetic interactions in all three organisms. Additionally, our method suggests high-confidence candidate interaction pairs that can be directly experimentally tested. A web application is provided for users to query genes for predicted novel genetic interaction partners. Finally, by simulating the sparsity of the yeast genetic interaction network, we obtained evidence that genetic interactions populating biological systems such as protein complexes may be discovered following a moderate increase in knowledge of known genetic interactions.
        </div>
    </div>

    <div class="mui-panel">
        <div class="mui--text-headline">Paper</div>
        <div class="mui--text-body1">
            <p>A <a href="http://biorxiv.org/content/early/2016/04/25/049627" target="_blank">pre-print</a> about the genetic interaction prediction methodology has been submitted to the bioXriv.</p>
            <p style="font-family:monospace;">Young JH, Marcotte EM. Predictiability of genetic interactions from functional gene modules. bioRxiv, in preparation (2016)</p>
        </div>
    </div>

    <div class="mui-panel">
        <div class="mui--text-headline">Acknowledgments</div>
        <div class="mui--text-body1">
            <p>The authors would like to thank Kevin Drew for assistance with web server setup.</p>
        </div>
    </div>

    <div class="mui-panel">
        <div class="mui--text-headline">Contact</div>
        <div class="mui--text-body1">
            Jonathan Young (<strong id="secret2">jon.young</strong>)<br />
            <a href="http://marcottelab.org" target="_blank">Marcotte Lab</a>
        </div>
    </div>
{% endblock %}
