{% extends "layout.html" %}
{% block title %}Download{% endblock %}
{% block content %}
    <div class="mui-panel">
        <div class="mui--text-headline">Source Code</div>
        <div class="mui--text-body1">
            The Python code for the paper and the HTML/CSS/JavaScript code for the web app can be found at the project's <a href="https://bitbucket.org/youngjh/genetic_interact" target="_blank">Bitbucket repository</a>.
        </div>
    </div>
    <div class="mui-panel">
        <div class="mui--text-headline">Raw data download</div>
        <div class="mui--text-body1">
            <br />
            <p>In each file, a gene appears on every line with a trailing colon, followed by its known interaction partners. 
                The AUC value indicates the predictive power of the genes for additional novel genetic interactions.</p>
            <br />
            <i>Homo sapiens</i>
            <ul>
                <li><a href="datafiles/Human Phenotypic Enhancement Seeds.txt">Phenotypic Enhancement</a></li>
                <li><a href="datafiles/Human Phenotypic Suppression Seeds.txt">Phenotypic Suppression</a></li>
            </ul>
            <br />
            <i>Drosophila melanogaster</i>
            <ul>
                <li><a href="datafiles/Fly Phenotypic Enhancement Seeds.txt">Phenotypic Enhancement</a></li>
                <li><a href="datafiles/Fly Phenotypic Suppression Seeds.txt">Phenotypic Suppression</a></li>
            </ul>
            <br />
            <i>Saccharomyces cerevisiae</i>
            <ul>
                <li><a href="datafiles/Yeast Dosage Growth Defect Seeds.txt">Dosage Growth Defect</a></li>
                <li><a href="datafiles/Yeast Dosage Lethality Seeds.txt">Dosage Lethality</a></li>
                <li><a href="datafiles/Yeast Dosage Rescue Seeds.txt">Dosage Rescue</a></li>
                <li><a href="datafiles/Yeast Phenotypic Enhancement Seeds.txt">Phenotypic Enhancement</a></li>
                <li><a href="datafiles/Yeast Phenotypic Suppression Seeds.txt">Phenotypic Suppression</a></li>
                <li><a href="datafiles/Yeast Synthetic Growth Defect Seeds.txt">Synthetic Growth Defect</a></li>
                <li><a href="datafiles/Yeast Synthetic Rescue Seeds.txt">Synthetic Rescue</a></li>
                <li><a href="datafiles/Yeast Synthetic Lethality Seeds.txt">Synthetic Lethality</a></li>
            </ul>
        </div>
    </div>
{% endblock %}