<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="//cdn.muicss.com/mui-latest/css/mui.min.css" rel="stylesheet" type="text/css" />
        <script src="//cdn.muicss.com/mui-latest/js/mui.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
        <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
        <link href="static/network.css" type="text/css" rel="stylesheet" />
        <script>
            jQuery(function($) {
                var $bodyEl = $('body'),
                    $sidedrawerEl = $('#sidedrawer');

                function showSidedrawer() {
                    // show overlay
                    var options = {
                        onclose: function() {
                            $sidedrawerEl
                                .removeClass('active')
                                .appendTo(document.body);
                        }
                    };

                    var $overlayEl = $(mui.overlay('on', options));

                    // show element
                    $sidedrawerEl.appendTo($overlayEl);
                    setTimeout(function() {
                        $sidedrawerEl.addClass('active');
                    }, 20);
                }

                function hideSidedrawer() {
                    $bodyEl.toggleClass('hide-sidedrawer');
                }

                $('.js-show-sidedrawer').on('click', showSidedrawer);
                $('.js-hide-sidedrawer').on('click', hideSidedrawer);
                
                var $titleEls = $('strong', $sidedrawerEl);
            
                $titleEls
                    .next()
                    .hide();
            
                $titleEls.on('click', function() {
                    $(this).next().slideToggle(200);
                });
            });
            
            $(document).ready(function () {
                $("#organism").change(function () {
                    var $dropdown = $(this);
                    var key = $dropdown.val();
                    var vals = [];

                    switch(key) {
                        case 'Homo sapiens':
                            vals = ['Phenotypic Enhancement', 'Phenotypic Suppression'];
                            break;
                        case 'Drosophila melanogaster':
                            vals = ['Phenotypic Enhancement', 'Phenotypic Suppression'];
                            break;
                        case 'Saccharomyces cerevisiae':
                            vals = ['Dosage Growth Defect', 'Dosage Lethality', 'Dosage Rescue', 
                                   'Phenotypic Enhancement', 'Phenotypic Suppression', 
                                   'Synthetic Growth Defect', 'Synthetic Rescue', 'Sythetic Lethality'];
                            break;
                        case 'base':
                            vals = ['Choose from above'];
                    }

                    var $typeChoice = $("#type");
                    $typeChoice.empty();
                    $.each(vals, function (index, value) {
                        $typeChoice.append("<option>" + value + "</option>");
                    });
                });
            });
            
            
        </script>
        <title>{% block title %}Predict Genetic Interactions{% endblock %}</title>
    </head>
    <body>
        <div id="sidedrawer" class="mui--no-user-select">
            <!-- Side drawer content goes here -->
            <div id="sidedrawer-brand" class="mui--appbar-line-height"><a href="http://marcottelab.org" target="_blank">MarcotteLab</a></div>
            <div class="mui-divider"></div>
            <ul>
                <li><strong><a href="{{ url_for('showhome') }}">App Home</a></strong></li>
                <li><strong><a href="{{ url_for('showabout') }}">About</a></strong></li>
                <li><strong><a href="{{ url_for('showdl') }}">Download</a></strong></li>
            </ul>
        </div>
        <header id="header">
            <div class="mui-appbar mui--appbar-line-height">
                <div class="mui-container-fluid">
                    <a class="sidedrawer-toggle mui--visible-xs-inline-block js-show-sidedrawer">☰</a>
                    <a class="sidedrawer-toggle mui--hidden-xs js-hide-sidedrawer">☰</a>
                    Genetic Interaction Predictions
                </div>
            </div>
        </header>
        <div id="content-wrapper">
            <!-- Main content goes here -->
            <div class="mui--appbar-height"></div>
            <div class="mui-container-fluid">
                {% block content %}{% endblock %}
            </div><!--- END mui-container-fluid --->
        </div><!--- END content-wrapper -->
        <footer id="footer">
            <div class="mui-container-fluid">
                <br>Made with <a href="https://www.muicss.com" target="_blank">MUI</a>
            </div>
        </footer>
    </body>
</html>
