{% extends "layout.html" %}
{% block title %}Predict Genetic Interactions{% endblock %}
{% block content %}
    <br>
    <div class="mui-panel">
        <div class="mui--text-dark-secondary mui--text-display2" style="text-align:center">
            Predictability of Genetic Interactions from Functional Gene Modules
        </div>
        <div class="mui--text-title" style="text-align:center">
            Search a gene for whether it has known genetic interaction partners that cluster in a functional gene network. <br />
            Other members of the cluster would be predicted genetic interaction partners of the query gene.
        </div>
    </div>
    <div id="user_entry">
        <form action="javascript:make_network()" method="get">
            <div class="mui--text-dark mui--text-body1">
                Enter gene (use symbol for human or yeast; for fly, use gene names):<br />
                <input type="search" id="search" size=70 placeholder="CASP2" required/>
            </div>
            <div class="mui-select">
                <select id="organism">
                    <option selected value="base">Select organism</option>
                    <option value="Homo sapiens"><i>H. Sapiens</i></option>
                    <option value="Drosophila melanogaster"><i>D. melanogaster</i></option>
                    <option value="Saccharomyces cerevisiae"><i>S. cerevisiae</i></option>
                </select>
            </div>
            <div class="mui-select">
                <select id="type">
                    <option>Genetic interaction type</option>
                </select>
            </div>
            <br />
            <p style="color:#646464">Example: CASP2, <i>H. sapiens</i>, Phenotypic Suppression</p>
            <button type="submit" class="mui-btn mui-btn--raised">Submit</button>
        </form>
    </div><!-- END user_entry -->
    <div id="myModal" class="modal">
        <div class="modal-content">
            <div class="modal-header">
                <span class="close">×</span>
            </div>
            <div class="modal-body">
                <p>The gene entered has no known predictive interaction partners.</p>
                <p>The data files on the Download page list all the genes that have <br /> predictive interactions partners.</p>
            </div>
        </div>
    </div><!-- END modal -->
    <div id="graph" style="text-align:center"></div>
    <div id="legend" style="text-align:center"></div>
    <script src="static/network.js"></script>
{% endblock %}